<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="cadastro-container">
    
    <div class="header-text">
      <ion-icon name="person-add-outline" color="primary"></ion-icon>
      <h2>Bem-vindo!</h2>
      <p>Preencha seus dados para começar.</p>
    </div>

    <div class="form-area">
      
      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input 
          label="Nome Completo" 
          labelPlacement="floating" 
          [(ngModel)]="nome"
          type="text">
        </ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input 
          label="E-mail" 
          labelPlacement="floating" 
          [(ngModel)]="email"
          type="email">
        </ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          label="Senha" 
          labelPlacement="floating" 
          [(ngModel)]="senha"
          type="password">
        </ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
        <ion-input 
          label="Confirmar Senha" 
          labelPlacement="floating" 
          [(ngModel)]="confirmarSenha"
          type="password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" size="large" (click)="cadastrar()" class="btn-cadastro">
        CADASTRAR
      </ion-button>

    </div>
  </div>

</ion-content>