ion-card {
  --max-width: 100%;
  background: transparent;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 480px;
  box-shadow: none;
}

.submit-button {
  --background: blue;
  --color: white;
  --border-radius: 4px;
  width: 50%;
  margin: 50px auto 0 auto;
}

.logo-cadastro img {
  max-width: 100%;
  height: 150px;
  margin-left: 125px;
  padding: 20px;
}
