<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="login-container">
    
    <div class="logo-area">
      <ion-icon name="medkit" color="primary"></ion-icon>
      <h1>Hora Vital</h1>
      <p>Seu assistente de saúde</p>
    </div>

    <div class="form-area">
      
      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input 
          label="Email" 
          labelPlacement="floating" 
          placeholder="seu@email.com"
          [(ngModel)]="email"
          type="email">
        </ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom custom-input">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          label="Senha" 
          labelPlacement="floating" 
          type="password"
          [(ngModel)]="senha"
          placeholder="******">
        </ion-input>
      </ion-item>

      <ion-button expand="block" size="large" (click)="fazerLogin()">
        ENTRAR
      </ion-button>

      <div class="footer-links">
        <p>Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        
        <p (click)="recuperarSenha()" style="cursor: pointer; text-decoration: underline;">
          <small>Esqueci minha senha</small>
        </p>
      </div>

    </div>
  </div>

</ion-content>