<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Novo Lembrete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light">
  
  <div class="header-container ion-padding">
    <h1>Adicionar<br>Medicamento</h1>
    <p>Configure o horário e não esqueça mais.</p>
  </div>

  <div class="form-wrapper">
    <div class="input-group">
      <ion-input
        label="Nome do Medicamento"
        label-placement="floating"
        fill="outline"
        placeholder="Ex: Dipirona 500mg"
        [(ngModel)]="novoLembrete.nome"
        shape="round">
        <ion-icon slot="start" name="medkit-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </div>

    <div class="input-group">
      <ion-input
        label="Horário"
        label-placement="floating"
        fill="outline"
        type="time"
        [(ngModel)]="novoLembrete.horario"
        shape="round">
        <ion-icon slot="start" name="alarm-outline" aria-hidden="true"></ion-icon>
      </ion-input>
      <ion-note color="medium" class="ion-padding-start helper-text">Que horas deve tocar?</ion-note>
    </div>

    <div class="input-group">
      <ion-input
        label="Data de Início"
        label-placement="floating"
        fill="outline"
        type="date"
        [(ngModel)]="novoLembrete.dataInicio"
        shape="round">
        <ion-icon slot="start" name="calendar-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </div>

    <div class="input-group">
      <ion-textarea
        label="Observações / Dosagem"
        label-placement="floating"
        fill="outline"
        placeholder="Ex: Tomar após o almoço..."
        [(ngModel)]="novoLembrete.observacoes"
        shape="round"
        rows="3">
        <ion-icon slot="start" name="document-text-outline" aria-hidden="true" class="textarea-icon"></ion-icon>
      </ion-textarea>
    </div>

    <div class="ion-padding-top">
      <ion-button expand="block" shape="round" size="large" (click)="salvarLembrete()" class="btn-save">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        SALVAR LEMBRETE
      </ion-button>
    </div>

  </div>
</ion-content>