<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Meus Lembretes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="habilitarAudio()">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">

  <ion-list lines="none">
    @for (item of lembretesService.lembretes(); track item.id) {
      <ion-card>
        <ion-card-header>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
              <ion-card-subtitle>{{ item.horario }}</ion-card-subtitle>
              <ion-card-title>{{ item.nome }}</ion-card-title>
            </div>
            
            <ion-button fill="clear" (click)="toggleAlarm(item)">
              <ion-icon slot="icon-only" size="large"
                [name]="item.ativo ? 'notifications' : 'notifications-off'"
                [color]="item.ativo ? 'primary' : 'medium'">
              </ion-icon>
            </ion-button>
          </div>
        </ion-card-header>

        <ion-card-content>
          <div style="display: flex; align-items: center; gap: 8px;">
            <ion-icon name="calendar"></ion-icon>
            <span>Início: {{ item.dataInicio | date:'dd/MM/yyyy' }}</span>
          </div>
          @if (item.observacoes) {
            <p style="margin-top: 8px; color: #666;">Obs: {{ item.observacoes }}</p>
          }
        </ion-card-content>
      </ion-card>
    } 
    
    @empty {
      <div style="text-align: center; margin-top: 50px; color: #888;">
        <h3>Nenhum lembrete</h3>
        <ion-button routerLink="/tabs/tab2" fill="outline">
          Adicionar
        </ion-button>
      </div>
    }

  </ion-list>

  @if (alarmeTocando) {
    <div style="position: fixed; bottom: 20px; left: 0; right: 0; z-index: 9999; display: flex; justify-content: center;">
      <ion-button color="danger" size="large" (click)="desligarAlarme()" style="width: 80%;">
        <ion-icon name="stop-circle-outline" slot="start"></ion-icon>
        PARAR ALARME
      </ion-button>
    </div>
  }

</ion-content>