<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico de lembretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Histórico</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="historico.length === 0" style="text-align: center; margin-top: 50px; color: gray;">
    <p>Nenhum histórico encontrado.</p>
  </div>

  <ion-card *ngFor="let grupo of historico; let i = index">
    <ion-card-header>
      <ion-card-title class="cardTitle">{{ grupo.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        
        <ion-item *ngFor="let remedio of grupo.medicamentos; let j = index">
          
          <ion-thumbnail slot="start">
            <img [src]="remedio.imagem" alt="Remédio" />
          </ion-thumbnail>

          <ion-label class="ion-text-wrap">
            <h2><strong>{{ remedio.nome }}</strong></h2>
            
            <p>
              <ion-icon name="time-outline" style="vertical-align: middle;"></ion-icon> 
              {{ remedio.horarios }}
            </p>
            
            <p>
              <ion-icon name="calendar" style="vertical-align: middle;"></ion-icon> 
              {{ remedio.inicio }}
            </p>
            
            <p *ngIf="remedio.fim">
              <ion-icon name="calendar" style="vertical-align: middle;"></ion-icon> 
              {{ remedio.fim }}
            </p>

            <p *ngIf="remedio.obs" style="margin-top: 4px; color: var(--ion-color-medium);">
              Obs: {{ remedio.obs }}
            </p>
          </ion-label>

          <ion-button slot="end" fill="clear" color="danger" (click)="confirmarRemocao(i, j)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>

        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>